{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "no-console": 1, // Means warning
        "prettier/prettier": [
            2, // Means error
            {
                "semi": true,
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 80,
                "bracketSameLine": true,
                "bracketSpacing": true,
                "tabWidth": 3
            }
        ],
        "@typescript-eslint/no-empty-interface": 0,
        "@typescript-eslint/no-unused-vars": 0,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/no-empty-function": 0
    },
    "ignorePatterns": [
        "node_modules/*",
        "dist/*"
    ]
}